{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <base target="_blank"/>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Nathan's Portfolio</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static '../staticfiles/css/default.css' %}?ver=2">
	<link rel="stylesheet" href="{% static '../staticfiles/css/layout.css' %}?ver=2">
    <link rel="stylesheet" href="{%  static '../staticfiles/css/media-queries.css' %}">
    <link rel="stylesheet" href="{%  static '../staticfiles/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather:400,900,900i' %}" rel="stylesheet">
   <!-- Script
   ================================================== -->
	<script src="{% static '../staticfiles/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static '../staticfiles/images/portfolio/favicon.png' %}" >

</head>

<body>

<a id="topbutton" class="fa fa-arrow-circle-up"></a>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Projects</a></li>
            <li><a class="smoothscroll" href="#testimonials">Quotes</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Nathan Brathwaite.</h1>
            <h3>I'm a Barbadian based <span>Web Developer</span>, <span>Programmer</span> and <span>Graphic Designer</span> creating uniquely tailored and
            effective visual identities for companies of all sizes around the globe. <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/nate.brathwaite.54"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/KingBrate"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/nathan-brathwaite-80b7a1193/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/natebrate_creations/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/natebrate"><i class="fa fa-github"></i></a></li>
               <li><a href="https://join.skype.com/invite/yoeOaUTCbtnG"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="../staticfiles/images/profilepicture.jpg" alt="Profile Picture" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am a hardworking individual with dedication to accomplishing any task set before.
                I work with high competence and dedication to my task ensuring that every customer gets beyond what they could have imagined.
                I am a student of UWI Cave Hill campus and a proud Black Bird and also work in the field of Information Technology.
                Bringing forth many assets to your project.  I bring your projects to life with excellent attention to
                detail and wonderful creativity.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Nathan Brathwaite</span><br>
						   <span>Bridgetown, Barbados<br>
						         West Indies
                     </span><br>
						   <span>1 (246) 268-6398</span><br>
                     <span>nsbrathwaite18@outlook.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="http://tiny.cc/fhfbtz" target="_blank" rel="noopener noreferrer" class="button"><i class="fa fa-download" ></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of The West Indies Cave Hill Campus</h3>
                  <p class="info">BSc Software Engineering <span>&bull;</span> <em class="date">Oct. 2022</em></p>

                  <p>
                  Heavily focus in IOS, Android, Database and Web Dev. Creates a robust and flexible developer
                      with a lot of skills in wide array of fields.
                      A strong emphasis in Mobile/Web Development
                    GPA of 3.48

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Harrison College</h3>
                  <p class="info">CAPE - Caribbean Advanced Proficiency Exam <span>&bull;</span> <em class="date">June 2018</em></p>

                  <p> I left with a GPA of 3.36 and complete all 5 of the required subjects for CAPE level.
                 </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Campus IT Cave Hill</h3>
                  <p class="info">Student Assistant <span>&bull;</span> <em class="date">Jan. 2019 - Present</em></p>

                  <p>
                  To provide technical support to both staff and students of the campus. Additionally, ensuring that systems of Cave Hill campus operate in full capacity
                   <ul>
                       <li>Became Team Lead </li>
                       <li>Management Campus issues</li>
                       <li>Find ways to enhance the student experience </li>
                       <li>Help to find and correct issues in the system </li>
                    </ul>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Yello Media Group Barbados</h3>
                  <p class="info">Software Architecture Intern <span>&bull;</span> <em class="date">Aug. 2019 - Sep. 2019</em></p>

                  <p>
                  Help develop and maintain the functionality of the backend systems and
                      develop hardware/software components, so the company enhance its
                      operations
                   <ul>
                       <li>Commended for outstanding performance </li>
                       <li>Update the system phone network</li>
                       <li>Maintain the system network (software/hardware) </li>
                    </ul>
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>I am a highly-skilled individual. I provide a range of skills and can adapt to new skills. I love to learn about the cutting and bleeding edge of technology.
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>MVC Model</em></li>
						<li><span class="bar-expand wordpress"></span><em>Django</em></li>
						<li><span class="bar-expand css"></span><em>Spring Boot</em></li>
						<li><span class="bar-expand html5"></span><em>HTML/CSS</em></li>
                  <li><span class="bar-expand jquery"></span><em>Agile Dev</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Some Samples of my Graphic Works and Projects</h1>
             <h1> Check out My <a class="smoothscroll" href="https://github.com/natebrate">GitHub</a></h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="../staticfiles/images/portfolio/Akira.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Akira</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="../staticfiles/images/portfolio/bmwM2.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>BMW</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="../staticfiles/images/portfolio/porsche.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Porsche</h5>
                              <p>Webdesign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="../staticfiles/images/portfolio/supra.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Mk4 Supra</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="../staticfiles/images/portfolio/skyline.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Skyline</h5>
                              <p>Branding</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="../staticfiles/images/portfolio/toyota.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Toyota</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/Akira.png" alt="" />

		      <div class="description-box">
			      <h4>Coffee Cup</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="{% static 'http://www.behance.net' %}" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/bmwM2.png" alt="" />

		      <div class="description-box">
			      <h4>Console</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/m-judah.jpg" alt="" />

		      <div class="description-box">
			      <h4>Judah</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/toyota.png" alt="" />

		      <div class="description-box">
			      <h4>Into the Light</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/skyline.png" alt="" />

		      <div class="description-box">
			      <h4>Farmer Boy</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="../staticfiles/images/portfolio/modals/porsche.png" alt="" />

		      <div class="description-box">
			      <h4>Girl</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1><span>Get Hosting.</span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">Global and Flexible</span></h2>
            <p><span class="lead">I am part of a global brand. Seeking to provide for the needs of all my customers.
                Bringing forth beautifully crafted and delectable Websites.
                Reach out to me for further Collaboration.  </span></p>

         </div>

         <div class="three columns action">



         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>I'm just really thankful to have the chance to portray a character you don't see every day.
                           </p>
                           <cite>Regina King</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">Reach out and let us get in touch. I promise you will be satisfied with the product we create. You can reach me at the contacts provided or
                      in the form below
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="{% static '../staticfiles/images/loader.gif' %}">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

                   <hr />
					   <h4>Address and Phone</h4>
					   <p class="address">
						   Nathan Brathwaite<br>
						   Bridgetown, Barbados <br>
						   West Indies<br>
						   <span>1 (246) 268-6398</span>
					   </p>

                   <hr />
                   <div>
                       <iframe height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=1000&amp;hl=en&amp;q=bridgetown+(My%20Business%20Name)&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">

                    </iframe><a href="https://www.maps.ie/route-planner.htm">Google Route Planner</a>


                   </div>
				   </div>
            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
                <li><a href="https://www.facebook.com/nate.brathwaite.54"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/KingBrate"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nathan-brathwaite-80b7a1193/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/natebrate_creations/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/natebrate"><i class="fa fa-github"></i></a></li>
                <li><a href="https://join.skype.com/invite/yoeOaUTCbtnG"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2020 Nathan S. Brathwaite</li>
                <li>Backend and Frontend Development by Nathan Brathwaite</li>
               <li>A Template by <a href="#home" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="{% static 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %}"></script>
   <script>window.jQuery || document.write('<script src="../staticfiles/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="../staticfiles/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="../staticfiles/js/jquery.flexslider.js"></script>
   <script src="../staticfiles/js/waypoints.js"></script>
   <script src="../staticfiles/js/jquery.fittext.js"></script>
   <script src="../staticfiles/js/magnific-popup.js"></script>
   <script src="../staticfiles/js/init.js"></script>

<!--Floating button-->
<script>
    var btn = $('#topbutton');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});

</script>
</body>

</html>